@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@700&display=swap');

body {
    color: #eceff4;
    background-color: #2e3440;
    font-family: Roboto;
}

table {
    width: 100%;
    border-spacing: 0px 10px;
}

th, td {
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 30px;
    cursor: pointer;
}

tr {
    outline: 1.5px solid #d8dee9;
    border-radius: 5px;
}

progress[value] {
    height: 100%;
    width: 100%;
    background-color: navy;
}

h1 {
    font-family: Rubik;
    text-align: center;
    font-size: 64px;
}

#options {
    float: right;
}

#page {
    margin: auto;
    width: 90%;
    padding: 25px;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.5);
}

#add-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);

    visibility: hidden;
}

#add {
    position: absolute;
    left: 50%;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 25%;
    height: 25%;

    padding: 25px;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.5);
}

form {
    text-align: center;
}

.filter-white {
    filter: invert(99%) sepia(1%) saturate(3902%) hue-rotate(181deg) brightness(91%) contrast(112%);
}

.filter-red {
    filter: invert(45%) sepia(13%) saturate(2162%) hue-rotate(305deg) brightness(96%) contrast(76%);
}